

<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>Comisiones</span>
    <span class="example-spacer"></span>

    <div fxLayout="row" fxLayoutAlign="end center">

      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>view_headline</mat-icon>
      </button>
    </div>

        <mat-menu #menu="matMenu"  >
          <button mat-menu-item [routerLink]="['/comisiones/list']">Listado de Comisiones</button>
          <button mat-menu-item [routerLink]="['/comisiones/nuevo']">Generar Comision</button>
          <button mat-menu-item (click)="logout()">Cerrar Sesion</button>
        </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
