<section class="reset">

  <form fxLayout fxLayoutAlign="center center" [formGroup]="resetFormGroup" fxFlex="100" (ngSubmit)="onSubmit()">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"><span *ngIf="!sended">Restablecer contraseña</span><span *ngIf="sended">¡Listo!</span></mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">

        <div *ngIf="resetFormGroup.invalid && !sended">
          <mat-icon style="transform: scale(2); margin:1em;">lock</mat-icon>
        </div>
        <div *ngIf="!resetFormGroup.invalid && !sended">
          <mat-icon style="transform: scale(2); margin:1em;">lock_open</mat-icon>
        </div>
        <div *ngIf="sended">
            <mat-icon style="transform: scale(2); margin:1em;">check_circle</mat-icon>
          </div>
        <mat-form-field *ngIf="!isLoading && !sended">
          <input type="password" matInput placeholder="Nueva contraseña" formControlName="password">
          <mat-error>La contraseña es requerida.</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!isLoading && !sended">
          <input type="password" matInput placeholder="Confirmar contraseña" formControlName="password_confirmation">
          <mat-error *ngIf="resetFormGroup.controls['password_confirmation']?.errors?.required">Debes confirmar la
            contraseña</mat-error>
          <mat-error *ngIf="resetFormGroup.controls['password_confirmation']?.errors?.not_confirmed">Las contraseñas no
            coinciden</mat-error>
        </mat-form-field>
        <section class="mat-typography" *ngIf="sended">
          <h2>Tu contraseña ha cambiado.</h2>
          <p>¡No la olvides esta vez!</p>
        </section>
        <span *ngIf="isLoading">&nbsp;</span>
        <mat-spinner *ngIf="isLoading" [diameter]="90" fxFlexAlign="center"></mat-spinner>
      </mat-card-content>

      <mat-card-actions fxLayout="column" fxAlignItems="center" fxLayoutGap="10px" *ngIf="!isLoading">
        <button *ngIf="!sended" type="submit" mat-raised-button color="primary" [disabled]="resetFormGroup.invalid">Aceptar</button>
        <a *ngIf="sended" mat-button routerLink="/profile">Ir a mi perfil</a>
      </mat-card-actions>
    </mat-card>
  </form>
</section>