<section class="forgot">

  <form fxLayout fxLayoutAlign="center center" [formGroup]="forgotForm" fxFlex="100" (ngSubmit)="onSubmit()">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"><span  *ngIf="!sended">Recuperar tu cuenta</span><span  *ngIf="sended">¡Listo!</span></mat-card-title>
      <mat-card-content fxLayout="column" fxLayoutAlign="center">
        
        <div *ngIf="!sended"><mat-icon style="transform: scale(2); margin:1em;">help</mat-icon></div>
        <div *ngIf="sended"><mat-icon style="transform: scale(2); margin:1em;">send</mat-icon></div>
        <section class="mat-typography" *ngIf="!sended">
            <p>Podemos ayudarte a restablecer tu contraseña, proporcionanos tu correo electrónico y si eres un usuario registrado, te enviaremos las indicaciones correspondientes.</p>
          </section>
        <mat-form-field *ngIf="!isLoading && !sended">
          <input type="email" matInput placeholder="Escribe tu correo electrónico" formControlName="email">
          <mat-error>El email es inválido</mat-error>
        </mat-form-field>
        <span *ngIf="isLoading">&nbsp;</span>
        <section class="mat-typography" *ngIf="sended">
          <h2>Te hemos enviado un email</h2>
          <p>Sigue la indicaciones para recuperar tu contraseña.</p>
        </section>
        <mat-spinner *ngIf="isLoading" [diameter]="90" fxFlexAlign="center"></mat-spinner>
        

      </mat-card-content>

      <mat-card-actions fxLayout="column" fxAlignItems="center" fxLayoutGap="10px" *ngIf="!isLoading">
        <button *ngIf="!sended" type="submit" mat-raised-button color="primary" [disabled]="forgotForm.invalid">Enviar solicitud</button>
        <a  mat-button  routerLink="/login" >Regresar</a>          
      </mat-card-actions>
    </mat-card>
  </form>
</section>