
.card {
  min-width: 70%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
mat-table {
  width: 100%;
}
mat-cell {
  word-wrap: break-word !important;
  word-break: break-word;
  text-overflow: ellipsis;
}
mat-header-cell{
  width: 20%;
  font-weight: bold;
}
.spinner-container {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}
.tab-actions {
  display: inline-block;
  position: fixed;
  bottom: 50px;
  right: 30px;
}

@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }

  .mat-table .mat-row {
    border-bottom: 7px solid #ddd;
    display: block;
  }

  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
    margin-left: 15px;
    margin-right: 18px;
  }
  .mat-table .mat-cell:before {

    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;

    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}
