<div>
    <div class="container">
        <div class="container">
          <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
        </div>
    </div>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" >
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Lista de Comisiones</h3>
          </mat-card-title>
          <mat-card-content>
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
              </mat-form-field>
              <div class="example-container mat-elevation-z8">

                  <div class="spinner-container" *ngIf="isLoading">
                    <mat-progress-bar class="example-margin" [mode]="mode">
                    </mat-progress-bar>
                  </div>

                  <mat-table [dataSource]="dataSource" matSort matSortStart="desc">

                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="id"> {{row.id}} </mat-cell>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="no_comision">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Número de Comsión </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="no_comision"> {{row.no_comision}}</mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="no_memorandum">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> N° Memorandum </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="no_memorandum"> {{row.no_memorandum}} </mat-cell>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="motivo_comision">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Motivo Comisión </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="motivo_comision"> {{row.motivo_comision}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="upload">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Subir Archivo</mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="upload">
                        <button mat-icon-button color="primary" (click)="uploadFile(row.id)">
                            <mat-icon class="mat-18">cloud_upload</mat-icon>
                        </button>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                  </mat-table>

                  <mat-paginator [pageSizeOptions]="[6]"></mat-paginator>
              </div>
          </mat-card-content>
        </mat-card>

      </div>
        <section class="tab-actions">
          <button mat-fab color="warn" [routerLink]="['/comisiones/nuevo']">
            <mat-icon>add</mat-icon>
          </button>
        </section>
    </div>
  </div>
</div>

